---
extends: default

rules:
  line-length:
    max: 160
    level: warning
  indentation:
    spaces: 2
    # consistent: 파일 내 일관되면 0/2 모두 허용. argocd-image-updater(kyaml) write-back은
    # 시퀀스를 0-indent로 재직렬화 → indent-sequences:true와 충돌(validate fail)하던 것 해소.
    indent-sequences: consistent
  document-start: disable
  truthy:
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  empty-lines:
    max: 2
  trailing-spaces: enable

ignore: |
  .terraform/
  node_modules/
  .git/
  infra/k8s-addons/
